.main {
  max-width: 980px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: .5em;
  margin: 0 auto;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .column {
    flex-grow: 1;

    &.is-half {
      width: 50%;
    }

    &.is-third {
      width: 32%;
    }
  }
}

.form-input {
  width: 100%;
  box-sizing: border-box;
  padding: .5em;
  border: 1px solid #aaa;
  border-radius: 4px;
  transition: all .2s ease;

  &:focus,
  &:active {
    border-color: #aaa;
    box-shadow: 0 0 0 0.2em lightskyblue;
  }
}

.input-group-button {
  box-sizing: border-box;
  padding: .5em;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.form-row {
  padding: .5em;
  text-align: left;
}

.form-select {
  @extend .form-input;
}

.is-center {
  text-align: center;
  justify-content: center;
}

.is-left {
  text-align: left;
  justify-content: flex-start;
}

.is-block {
  display: block;
}
